# *Aufgabe: Einführung in Python*

1. Lesen Sie den Datensatz mit Pandas ein:

In [1]:
import pandas as pd
import os

census = pd.read_csv(os.path.join("..", "..", "..", "data", "census.csv"))
print(census.columns)

census.head()

Index(['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country', 'target'],
      dtype='object')

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
# Pop the columns:

to_pop = ["occupation", "relationship", "capital-gain", "capital-loss", "native-country", "education", "workclass", "marital-status"]

for col in to_pop:
    census.pop(col)
    
census.head()

   age    race      sex  hours-per-week  target
0   39   White     Male              40   <=50K
1   50   White     Male              13   <=50K
2   38   White     Male              40   <=50K
3   53   Black     Male              40   <=50K
4   28   Black   Female              40   <=50K

In [3]:
# Numerische Werte:

# SEX: Male: 1, Female: 0
census["sex"] = census["sex"].replace({' Male': 1, ' Female': 0})

# RACE: Asian-Pac-Islander: 4, White: 3, Black: 2, Amer-Indian-Eskimo: 1, Other: 0
census["race"] = census["race"].replace({' White': 3, ' Black': 2, ' Asian-Pac-Islander': 4, ' Amer-Indian-Eskimo':1, ' Other': 0})

# TARGET: >50K: 1, <=50K: 0 
census["target"] = census["target"].replace({' >50K': 1, ' <=50K': 0})

census.head()

   age  race  sex  hours-per-week  target
0   39     3    1              40       0
1   50     3    1              13       0
2   38     3    1              40       0
3   53     2    1              40       0
4   28     2    0              40       0

2. Geben Sie eine Statistische Zusammenfassung der Daten aus:

In [4]:
census.describe()

                age          race           sex  hours-per-week        target
count  32561.000000  32561.000000  32561.000000    32561.000000  32561.000000
mean      38.581647      2.891895      0.669205       40.437456      0.240810
std       13.640433      0.478836      0.470506       12.347429      0.427581
min       17.000000      0.000000      0.000000        1.000000      0.000000
25%       28.000000      3.000000      0.000000       40.000000      0.000000
50%       37.000000      3.000000      1.000000       40.000000      0.000000
75%       48.000000      3.000000      1.000000       45.000000      0.000000
max       90.000000      4.000000      1.000000       99.000000      1.000000

3. Schreiben Sie eine Funktion train_test_mean(split_rate), die die Daten mittels Train-Test-Split von Sklearn in Trainings- und Testdaten trennt und analysiert, ob die Features in Test- und Trainingsdatensatz sich in den Mittelwerten unterscheiden:

In [5]:
from sklearn.model_selection import train_test_split
import numpy as np

def train_test_mean(split_rate):

    def calculate_mean(dataframe, feature):
        return np.mean(dataframe[feature].to_numpy())

    train, test = train_test_split(census, test_size=split_rate)

    print("\n---------split rate: {}---------".format(split_rate))

    print('Train: {}'.format(train.shape))
    print('Test: {}'.format(test.shape))

    for feature in census.columns:
        print("Feature: {}, mean train: {}, mean test: {}".format(feature, calculate_mean(train, feature), calculate_mean(test, feature)))

4. Rufen Sie die Funktion für unterschiedliche Werte von split_rate auf und vergleichen Sie die Ergebnisse:

In [6]:
train_test_mean(0.2)
train_test_mean(0.3)
train_test_mean(0.5)

---------split rate: 0.2---------
Train: (26048, 5)
Test: (6513, 5)
Feature: age, mean train: 38.61927979115479, mean test: 38.4311377245509
Feature: race, mean train: 2.8915079852579852, mean test: 2.8934438814678334
Feature: sex, mean train: 0.6693412162162162, mean test: 0.6686626746506986
Feature: hours-per-week, mean train: 40.42210534398034, mean test: 40.498848456932286
Feature: target, mean train: 0.24143888206388206, mean test: 0.23829264547827422

---------split rate: 0.3---------
Train: (22792, 5)
Test: (9769, 5)
Feature: age, mean train: 38.532379782379785, mean test: 38.69659125806121
Feature: race, mean train: 2.892155142155142, mean test: 2.8912887706008803
Feature: sex, mean train: 0.6661547911547911, mean test: 0.6763230627495138
Feature: hours-per-week, mean train: 40.46099508599509, mean test: 40.38253659535265
Feature: target, mean train: 0.24052299052299053, mean test: 0.24147814515303512

---------split rate: 0.5---------
Train: (16280, 5)
Test: (16281, 5)
Feature: age, mean train: 38.60663390663391, mean test: 38.55666113875069
Feature: race, mean train: 2.89477886977887, mean test: 2.8890117314661263
Feature: sex, mean train: 0.6659090909090909, mean test: 0.6725016890854371
Feature: hours-per-week, mean train: 40.38716216216216, mean test: 40.48774645292058
Feature: target, mean train: 0.24066339066339065, mean test: 0.24095571525090598